body {
    font-family: Arial, Helvetica, sans-serif;
}

/* h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
} */

h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.05rem;
}

.max_md {
    max-width: 540px;
} 

/* colori personalizzati buttons */
.btn_orange {
    background-color: #cd3d0f;
    color: white;
}

.btn_gray {
    background-color: #d9dadc;
}

/* header */
header {
    background-color: black;
}

#sony_logo {
    height: 15px;
    margin: 10px;
}

#main_nav {
    font-family: Helvetica, sans-serif;
}

.nav-link::after {
    content: url(../img/nav/chevron-down-solid.svg);
    width: 10px;
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
}

#search_icon {
    height: 25px;
    margin-left: 25px;
}

/* contenuto pagina */
main {
    margin-top: 111px;
}

/* jumbotron */
#jumbotron .banner_ {
    background-image: url(../img/games/jumbo-bg.png);
    background-position: center;
    height: 675px;
    background-size: cover;
}

#jumbotron .banner_ .container {
    height: 100%;
}

#jumbotron .thumb_ img {
    margin: 15px 0;
    border-radius: 20px;
}

/* sezione titolo in evidenza */
#hot_title .banner_ {
    background-image: url(../img/games/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

#hot_title .banner_ .container {
    height: 100%;
}

/* sezione nuove uscite */
#new_titles {
    background-color: #1f1f1f;
}

#new_titles img {
    margin: 15px 0;
    border-radius: 20px;
}

#new_titles h6{
    margin-bottom: 2rem;
}

/* sezione ps plus */
#ps_plus {
    background-color: #bebcbb;
}

/* sezione sconti ps store  */

/* sezione ps now */
#ps_now {
    background-color: #161c3b;
}

/* sezione social */


/* footer */
footer {
    background-color: #00439c;
}

footer a {
    text-decoration: none;
    color: white;
}

footer li {
    margin: 10px 0;
}

#ps_logo_foot {
    height: 70px;
}

#globe {
    max-height: 20px;
}

#sony_int_ent {
    max-height: 50px;
}